@import 'reset';
@import 'reminder-card';
@import 'display-card';

h1 {
  font-size: 42px;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  margin: 20px 20px;
  color: pink;
}

.spec-reminder--new {
  background-color: white;
  border: none;
  color: black;
  display: block;
  font-size: 28px;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  margin: 0px 20px;
}

body {
  background: #24A6FC;
  font-family: 'Quicksand', sans-serif;
}

.title {
  color: white;
  font-size: 40px;
  padding: 15px;
}

.all-reminders {
  display: flex;
  background: #24A6FC;
  border-radius: 5px;
  width: 100%;
  height: 85vh;
}

.reminder-list {
  background: white;
  border-radius: 5px;
  width: 300px;
  height: 100%;
  text-align: center;
}

.reminder-list button {
  background: none;
  border: none;
}

.deletebtn {
  font-size: 20px;
  position: relative;
  bottom: 20px;
  right: -10px;
}

.reminder-item {
  margin: 10px;
  border-bottom: 1px solid grey;
}

.reminder-item h3 {
  text-align: left;
  width: 150px;
  overflow: hidden;
  display: inline-block;
}

ul, menu, dir {
    display: block;
    list-style-type: none;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.reminder-card-cont{
  background: white;
  border-radius: 5px;
  height: 100%;
  flex-grow: 2;
  margin-left: 7px;
}

.new-reminder {
  background: white;
  border-radius: 5px;
  height: 100%;
  flex-grow: 2;
  margin-left: 7px;
}

.new-reminder h2 {
  text-align: center;
}

.new-reminder label, .reminder-card label {
  display: block;
}

.new-reminder input, .reminder-card input {
  width: 98%;
  height: 30px;
  font-size: 20px;
  padding-left: 5px;
}

.new-reminder textarea, .reminder-card textarea {
  width: 98%;
  height: 200px;
  font-size: 20px;
  padding-left: 5px;
  padding-top: 5px;
  resize: none;
}

.reminder-card textarea {
  height: 100px;
}

.new-reminder form {
  margin: 0 30px;
}

.reminder-card h2 {
  text-align: center;
}

.reminder-card p {
  margin-top: 30px;
}

.reminder-card {
  padding: 0 20px;
}

li a {
  text-decoration: none;
  color: black;
}

li a.active h3 {
  background-color: pink;
}

.please-save-me {
  color: gray;
}
