@import 'reset';
@import 'left-reminder-list';
@import 'display-card';
@import 'new-reminder';

body {
  background: rgba(80, 153, 170, .2);
  font-family: 'Quicksand', sans-serif;
}

.title {
  // background-color: white;
  // border-radius: 5px;
  color: black;
  font-size: 40px;
  margin: 10px 20px;
  padding: 5px;
}

.all-reminders {
  display: flex;
  border-radius: 5px;
  width: 100%;
  height: 85vh;
}
