h2 {
  margin-top: 10px;
}

.reminder-card-cont{
  background: white;
  border-radius: 5px;
  height: 100%;
  flex-grow: 2;
  margin-left: 7px;
  margin-right: 20px;
}

.spec-reminder-card--title {
  font-size: 32px;
  margin: 20px;
}

.spec-reminder-card--date {
  font-size: 16px;
  margin: 20px;
}

.spec-reminder-card--notes {
  font-size: 14px;
  margin: 20px;
  width: 500px;
}

.spec-reminder-card--editbtn, .edit-delete, .spec-reminder-edit--save, .spec-reminder-edit--revert {
  border-radius: 9px;
  background-color: white;
  border: solid 1px black;
  font-family: 'Quicksand', sans-serif;
  width: 55px;
  height: 25px;
  margin: 20px;
    &:hover {
      background-color: rgba(black, 0.8);
      color: white;
    }
    &:focus {
      outline: 0;
    }
}

.buttons-center {
  text-align: center;
}
