.display-card {
  // font-size: 40px;
  border: 1px solid black;
  display: inline-block;
  height: 500px;
  width: 600px;
}

.spec-reminder-card--title {
  font-size: 32px;
  margin: 20px;
}

.spec-reminder-card--date {
  font-size: 16px;
  margin: 20px;
}

.spec-reminder-card--notes {
  font-size: 14px;
  margin: 20px;
}
